.data-with-icon {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.data-with-icon.disabled {
  color: var(--text-color-secondary);
  opacity: 0.5;
}

.data-with-icon > p,
.data-with-icon > a {
  font-size: 13px;
  line-height: 19px;
  color: var(--text-color-secondary);
  display: inline-block;
  margin-left: 13px;
  text-decoration: none;
  text-overflow: ellipsis;
  max-width: 240px;
  overflow: hidden;
}

.data-with-icon > a:hover {
  text-decoration: underline;
}

@media (min-width: 573px) {
  .data-with-icon > p,
  .data-with-icon > a {
    font-size: 15px;
    line-height: 22px;
    text-overflow: ellipsis;
    max-width: 280px;
    overflow: hidden;
  }
}
