.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  margin-bottom: 16px;
  height: 60px;
  padding: 0 7px 0 16px;
  background-image: url("../../assets/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 16px center;
}

.search-bar > label {
  height: 20px;
}

.search-bar > label > svg {
  width: 20px;
  height: 20px;
}

.search-bar .input-container {
  flex: 2;
  height: 100%;
}

.search-bar .input-container > input:hover {
  cursor: pointer;
}

.search-bar .input-container > input {
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
  padding-left: 2rem;
  padding-right: 7px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  caret-color: var(--primary-color);
}

.search-bar input::placeholder {
  color: var(--text-color-secondary);
  font-size: 13px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar .error-message {
  display: inline-block;
  margin-right: 7px;
  color: var(--text-color-error);
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}

.search-bar > button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  height: 46px;
  width: 84px;
  font-size: 14px;
  line-height: 21px;
}

.search-bar > button:hover,
.search-bar > button:active {
  background-color: #60abff;
  cursor: pointer;
}

.search-bar > button:disabled {
  background-color: #697c9a;
  cursor: not-allowed;
}

@media (min-width: 573px) {
  .search-bar {
    height: 69px;
    padding: 0 10px 0 32px;
    margin-bottom: 24px;
    background-size: 24px;
    background-position: 32px center;
  }
  .search-bar > button {
    height: 50px;
    width: 106px;
    font-size: 16px;
    line-height: 24px;
  }
  .search-bar input::placeholder {
    font-size: 18px;
  }
  .error-message {
    margin-right: 24px;
  }
}
