@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  transition: background-color 200ms linear;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --background-color: #141d2f;
  --primary-color: #0079ff;
  --text-color-error: #f74646;
  --app-max-width: 100%;
  --app-margin: 31px 24px;
}

@media (min-width: 768px) {
  /* :root { */
  /* Variables for Desktop */
  /* } */
}

@media (min-width: 540px) {
  /* :root { */
  /* Variables for Tablets */
  /* } */
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-size: 15px;
  line-height: 25px;
}

.light-theme {
  --background-color: #fefefe;
  --background-color-secondary: #f6f8ff;
  --text-color: #2b3442;
  --text-color-secondary: #4b6a9b;
  --text-color-auxiliary: #697c9a;
}
.dark-theme {
  --background-color: #141d2f;
  --background-color-secondary: #1e2a47;
  --text-color: #ffffff;
  --text-color-secondary: #ffffff;
  --text-color-auxiliary: #ffffff;
}

h1 {
  font-size: 26px;
  line-height: 38px;
}
h2 {
  font-size: 22px;
  line-height: 33px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
}
h4 {
  font-size: 13px;
  line-height: 20px;
}

.app {
  max-width: var(--app-max-width);
  margin: var(--app-margin);
}
