@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body * {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  transition: background-color 200ms linear;
}

body *::before,
body *::after {
  box-sizing: inherit;
}

:root {
  --background-color: #141d2f;
  --primary-color: #0079ff;
  --text-color-error: #f74646;
  --app-width: auto;
  --app-margin: 31px 24px;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (min-width: 573px) {
  :root {
    /* Variables for Tablets */
    --app-width: 573px;
  }
  main {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .app {
    padding: 0;
    margin: 0;
  }
  .app .search-bar {
    height: 69px;
    padding: 0 10px 0 32px;
    margin-bottom: 24px;
    background-image: url("assets/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 32px center;
  }

  .app .search-bar .error-message {
    margin-right: 24px;
  }
  .app .search-bar > button {
    height: 50px;
    width: 106px;
    font-size: 16px;
    line-height: 24px;
  }

  .app .search-bar input::placeholder {
    font-size: 18px;
  }
  .app .github-profile {
    padding: 40px;
    grid-template-columns: 117px auto;
    column-gap: 37px;
  }
  .app .github-profile .avatar {
    width: 117px;
    height: 117px;
  }
  .app .github-profile .top-info {
    margin-bottom: 0;
  }
  .app .github-profile .top-info h2 {
    font-size: 26px;
    line-height: 39px;
  }
  .app .github-profile .top-info .user-handle {
    font-size: 16px;
    line-height: 24px;
  }
  .app .github-profile .top-info .joined-at {
    font-size: 15px;
    line-height: 22px;
  }
  .app .github-profile .bio {
    font-size: 15px;
    line-height: 25px;
  }
  .app .github-profile .metrics {
    margin-top: 24px;
    padding-left: 32px;
    margin-bottom: 30px;
  }
  .github-profile .metrics .metric {
    text-align: left;
  }
  .app .github-profile .metrics .metric h3 {
    font-size: 13px;
    line-height: 19px;
  }
  .app .github-profile .metrics .metric p {
    font-size: 22px;
    line-height: 33px;
  }
  .github-profile .bottom-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .app .github-profile .data-with-icon > p,
  .app .github-profile .data-with-icon > a {
    font-size: 15px;
    line-height: 22px;
    text-overflow: ellipsis;
    max-width: 280px;
    overflow: hidden;
  }
  .github-profile .data-with-icon:nth-of-type(2) {
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  :root {
    /* Variables for Desktop */
    --app-width: 730px;
  }

  .app .github-profile {
    padding: 48px;
  }

  .app .github-profile .avatar {
    grid-row: 1 / 4;
  }
  .app .github-profile .top-info,
  .app .github-profile .bio,
  .app .github-profile .metrics,
  .app .github-profile .bottom-info {
    grid-column: 2 / -1;
  }

  .app .github-profile .top-info {
    display: grid;
    grid-column: 2 / -1;
    align-content: center;
  }

  .app .github-profile .top-info__text-data {
    display: grid;
    justify-content: unset;
  }

  .app .github-profile .top-info .user-handle {
    grid-column: 1;
  }

  .app .github-profile .top-info .joined-at {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .app .github-profile .bio {
    margin-top: 20px;
  }
  .app .github-profile .metrics {
    margin-bottom: 37px;
  }
}

/* Clear button styles */
button {
  border: none;
  padding: 0;
  background: none;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-size: 15px;
  line-height: 25px;
}

.theme-light {
  --background-color: #f6f8ff;
  --background-color-secondary: #fefefe;
  --text-color: #2b3442;
  --text-color-secondary: #4b6a9b;
  --text-color-auxiliary: #697c9a;
  --text-switch-color-hover: #222731;
  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
.theme-dark {
  --background-color: #141d2f;
  --background-color-secondary: #1e2a47;
  --text-color: #ffffff;
  --text-color-secondary: #ffffff;
  --text-color-auxiliary: #ffffff;
  --text-switch-color-hover: #90a4d4;
  --box-shadow: none;
}

h1 {
  font-size: 26px;
  line-height: 38px;
}
h2 {
  font-size: 22px;
  line-height: 33px;
}
h3 {
  font-size: 16px;
  line-height: 24px;
}
h4 {
  font-size: 13px;
  line-height: 20px;
}

p {
  margin: 0;
}

.app {
  width: var(--app-width);
  margin: var(--app-margin);
}

/* HEADER */

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-bottom: 36px;
}

.app__header h1 {
  margin: 0;
  color: var(--text-color);
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch p {
  text-transform: uppercase;
  padding-right: 16px;
  color: var(--text-color-auxiliary);
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2.5px;
  transition: color 200ms linear;
}

.theme-switch:hover {
  cursor: pointer;
}

.theme-switch svg path {
  transition: fill 200ms linear;
}

.theme-switch:hover svg path {
  fill: var(--text-switch-color-hover);
}

.theme-switch:hover p {
  color: var(--text-switch-color-hover);
}

/* SEARCH BAR */

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  margin-bottom: 16px;
  height: 60px;
  padding: 0 7px 0 16px;
}

.search-bar > label {
  height: 20px;
}

.search-bar > label > svg {
  width: 20px;
  height: 20px;
}

.search-bar .input-container {
  flex: 2;
  height: 100%;
}

.search-bar .input-container > input:hover {
  cursor: pointer;
}

.search-bar .input-container > input {
  border: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-color);
  padding-left: 33px;
  padding-right: 7px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  caret-color: var(--primary-color);
}

.search-bar input::placeholder {
  color: var(--text-color-secondary);
  font-size: 13px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar .error-message {
  display: inline-block;
  margin-right: 7px;
  color: var(--text-color-error);
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}

.search-bar > button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  height: 46px;
  width: 84px;
  font-size: 14px;
  line-height: 21px;
}

.search-bar > button:hover,
.search-bar > button:active {
  background-color: #60abff;
  cursor: pointer;
}

.search-bar > button:disabled {
  background-color: #697c9a;
  cursor: not-allowed;
}

/* GITHUB PROFILE */

.github-profile {
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  display: grid;
  padding: 32px 24px 48px 24px;
  grid-template-columns: 70px auto;
  column-gap: 19px;
}

.github-profile .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.github-profile .top-info {
  display: flex;
  grid-column: 2 / -1;
}

.github-profile .top-info__text-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.github-profile .top-info h2 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.github-profile .top-info .user-handle {
  font-size: 13px;
  line-height: 19px;
  display: block;
  color: var(--primary-color);
}

.github-profile .top-info .joined-at {
  font-size: 13px;
  line-height: 19px;
  color: var(--text-color-auxiliary);
}

.github-profile .bio {
  color: var(--text-color-secondary);
  font-size: 13px;
  line-height: 25px;
  margin-top: 33px;
  margin-bottom: 0;
  grid-column: 1 / -1;
}

.github-profile .metrics {
  background-color: var(--background-color);
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 15px;
  margin-top: 23px;
  margin-bottom: 24px;
  grid-row: 3;
  grid-column: 1 / -1;
}

.github-profile .metric {
  flex-grow: 1;
  text-align: center;
}

.github-profile .metrics .metric h3 {
  margin: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: var(--text-color-secondary);
}

.github-profile .metrics .metric p {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
}

.github-profile ul.bottom-info {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  grid-row: 4;
  grid-column: 1 / -1;
}

.github-profile li > .data-with-icon {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.github-profile li > .data-with-icon.disabled {
  color: var(--text-color-secondary);
  opacity: 0.5;
}

.github-profile li > .data-with-icon > p,
.github-profile li > .data-with-icon > a {
  font-size: 13px;
  line-height: 19px;
  color: var(--text-color-secondary);
  display: inline-block;
  margin-left: 13px;
  text-decoration: none;
  text-overflow: ellipsis;
  max-width: 240px;
  overflow: hidden;
}

.github-profile li > .data-with-icon > a:hover {
  text-decoration: underline;
}

a {
  color: var(--text-color-secondary);
}

.attribution {
  font-size: 11px;
  color: var(--text-color-auxiliary);
  margin-top: 20px;
  padding: 10px 24px;
  text-align: center;
}
