.github-profile {
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color-secondary);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  display: grid;
  padding: 32px 24px 48px 24px;
  grid-template-columns: 70px auto;
  column-gap: 19px;
}

.github-profile .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.github-profile .top-info {
  display: flex;
  grid-column: 2 / -1;
}

.github-profile .top-info__text-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.github-profile .top-info h2 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.github-profile .top-info .user-handle {
  font-size: 13px;
  line-height: 19px;
  display: block;
  color: var(--primary-color);
}

.github-profile .top-info .joined-at {
  font-size: 13px;
  line-height: 19px;
  color: var(--text-color-auxiliary);
}

.github-profile .bio {
  color: var(--text-color-secondary);
  font-size: 13px;
  line-height: 25px;
  margin-top: 33px;
  margin-bottom: 0;
  grid-column: 1 / -1;
}

.github-profile .metrics {
  background-color: var(--background-color);
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 15px;
  margin-top: 23px;
  margin-bottom: 24px;
  grid-row: 3;
  grid-column: 1 / -1;
}

.github-profile .metric {
  flex-grow: 1;
  text-align: center;
}

.github-profile .metrics .metric h3 {
  margin: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: var(--text-color-secondary);
}

.github-profile .metrics .metric p {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
}

.github-profile .bottom-info {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  grid-row: 4;
  grid-column: 1 / -1;
}

@media (min-width: 573px) {
  .github-profile {
    padding: 40px;
    grid-template-columns: 117px auto;
    column-gap: 37px;
  }
  .github-profile .avatar {
    width: 117px;
    height: 117px;
  }
  .github-profile .top-info {
    margin-bottom: 0;
  }
  .github-profile .top-info h2 {
    font-size: 26px;
    line-height: 39px;
  }
  .github-profile .top-info .user-handle {
    font-size: 16px;
    line-height: 24px;
  }
  .github-profile .top-info .joined-at {
    font-size: 15px;
    line-height: 22px;
  }
  .github-profile .bio {
    font-size: 15px;
    line-height: 25px;
  }
  .github-profile .metrics {
    margin-top: 24px;
    padding-left: 32px;
    margin-bottom: 30px;
  }
  .github-profile .metrics .metric {
    text-align: left;
  }
  .github-profile .metrics .metric h3 {
    font-size: 13px;
    line-height: 19px;
  }
  .github-profile .metrics .metric p {
    font-size: 22px;
    line-height: 33px;
  }
  .github-profile .bottom-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .github-profile .bottom-info li:nth-of-type(2) {
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .github-profile {
    padding: 48px;
  }

  .github-profile .avatar {
    grid-row: 1 / 4;
  }
  .github-profile .top-info,
  .github-profile .bio,
  .github-profile .metrics,
  .github-profile .bottom-info {
    grid-column: 2 / -1;
  }

  .github-profile .top-info {
    display: grid;
    grid-column: 2 / -1;
    align-content: center;
  }

  .github-profile .top-info__text-data {
    display: grid;
    justify-content: unset;
  }

  .github-profile .top-info .user-handle {
    grid-column: 1;
  }

  .github-profile .top-info .joined-at {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .github-profile .bio {
    margin-top: 20px;
  }
  .github-profile .metrics {
    margin-bottom: 37px;
  }
}
